# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/bin
export JAVA_HOME=/opt/jdk
export CASSANDRA_HOME=/opt/cassandra/
export CASSANDRA_CONF=$CASSANDRA_HOME/conf
export CASSANDRA_LOG=/var/log/cassandra/system.log
export PATH=$PATH:$HOME/bin:$JAVA_HOME/bin:$CASSANDRA_HOME/bin:$DSE_HOME/bin:.
export CLASSPATH=$HAVA_HOME:$JAVA_HOME/lib:$JAVA_HOME/jre/lib:$JAVA_HOME/jre/lib/ext:$CASSANDRA_HOME/lib:$CASSANDRA_CONF:.
alias casslog='tail -100f $CASSANDRA_LOG'

